*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue';
    color: white;
}

html,body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: grid;
    /* 1 fr = fraction */
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;

    /* row-gap: 10px;
    column-gap: 10px; */
    
    grid-gap: 20px;

    /* align-items: center;
    justify-items: center; */
    
}

.child{
    background-color: rgb(112, 46, 46);
    border: 3px solid white;
    height: 100px;
    width: 100px;
}