*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue';
    color: white;
}

html,body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: #000000;
    display: grid;
    grid-template-columns: 1fr 500px 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "left-top top-center top-right"
                         "left-top center bottom-right"
                         "left-bottom left-bottom bottom-right";
}

#left-top{
    background-color: #ffa7a7;
    grid-area: left-top;
}

#left-bottom{
    background-color: #fff282;
    grid-area: left-bottom;
}

#top-center{
    background-color: #8fff78;
    grid-area: top-center;
}

#center{
    background-color: #7e65ff;
    grid-area: center;
}

#top-right{
    background-color: #ff7dfb;
    grid-area: top-right;
}

#bottom-right{
    background-color: #89ffca;
    grid-area: bottom-right;
}