*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue';
    color: white;
}

html,body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: #000000;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 1fr 0.5fr 0.5fr;

    grid-template-areas: "header header header"
                         "section section section"
                         "div1 div2 div4"
                         "div1 div3 div4";
    gap: 20px;
    padding: 20px;
}

header{
    background-color: #730808;
    grid-area: header;
}

section{
    background-color: #28739e;
    grid-area: section;
}

#div-left{
    background-color: #9d9a39;
    grid-area: div1;
}

#bottom-up{
    background-color: #96438d;
    grid-area: div2;
}

#bottom-down{
    background-color: #399d3c;
    grid-area: div3;
}

#div-right{
    background-color: #00ccff;
    grid-area: div4;
}