*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue';
    color: white;
}

html,body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 60px 180px 1fr;
    gap: 10px;
    padding: 10px;
    grid-template-areas: "header header"
                         "aside section"
                         "figure figure";
}

header{
    background-color: #ffcbcb;
    grid-area: header;
}

section{
    background-color: lightsteelblue;
    grid-area: section;
}

aside{
    background-color: lightgrey;
    grid-area: aside;
}
figure{
    background-color: cyan;
    grid-area: figure;
}